// 라이트 테마 토큰
$primary-color-light:        #ae00ee;
$secondary-color-light:      #60b0ba;
$white:                      #fff;
$light-gray-light:           #f3f3f4;
$lighten-gray-light:         #ecf0f6;
$lightest-gray-light:        #f8fafc;
$light-blue-light:           #e7e7e9;
$dark-gray-light:            #94a3b8;
$blue-gray-light:            #697585;
$gray-light:                 #9e9e9e;
$dark-blue-light:            #10141f;
$rgb-color-light:            255, 255, 255;

// 다크 테마 토큰
$primary-color-dark:         #d60067;
$light-gray-dark:            #f0f0f0;
$gray-dark:                  #9e9e9e;
$dark-dark:                  #0f172a;
$rgb-color-dark:             15, 23, 42;
$background-alt-dark:        #2d3b4e;
$background-alt-2-dark:      #1a2334;
$border-dark:                #232939;

// 공통 callout / syntax 색
$callout-note-light:         #e5f5fd;
$callout-tip-light:          #e7f6e9;
$callout-important-light:    #efeafb;
$callout-warning-light:      #fdf3e4;
$callout-caution-light:      #fae6e6;
$syntax-bg-light:            #f3f3f3;

$callout-note-dark:          #1f3962;
$callout-tip-dark:           #26483b;
$callout-important-dark:     #3f2e6d;
$callout-warning-dark:       #ac6f13;
$callout-caution-dark:       #952222;
$syntax-bg-dark:             #1e293b;
