@import "tokens";

// 라이트 모드
:root {
  --primary-color: #{$primary-color-light};
  --secondary-color: #{$secondary-color-light};
  --white: #{$white};
  --light-gray: #{$light-gray-light};
  --lighten-gray: #{$lighten-gray-light};
  --lightest-gray: #{$lightest-gray-light};
  --light-blue: #{$light-blue-light};
  --dark-gray: #{$dark-gray-light};
  --blue-gray: #{$blue-gray-light};
  --gray: #{$gray-light};
  --dark-blue: #{$dark-blue-light};
  --rgb-color: #{$rgb-color-light};
  --background-rgba: rgba(var(--rgb-color), 0.95);
  --background-color: var(--white);
  --background-alt-color: var(--lighten-gray);
  --background-alt-color-2: var(--lightest-gray);
  --text-color: var(--dark-blue);
  --text-alt-color: var(--blue-gray);
  --heading-font-color: var(--dark-blue);
  --link-color: var(--dark-blue);
  --link-color-hover: var(--dark-blue);
  --button-color: var(--white);
  --gradient-color: linear-gradient(90deg, #f70077 0%, #{$primary-color-light} 100%);
  --gradient-hover: linear-gradient(180deg, #f70077 0%, #{$primary-color-light} 160%);
  --border-color: var(--light-gray);
  --border-alt-color: var(--light-blue);
  --th-color: var(--light-blue);
  --tr-color: var(--light-gray);
  --callout-note: #{$callout-note-light};
  --callout-tip: #{$callout-tip-light};
  --callout-important: #{$callout-important-light};
  --callout-warning: #{$callout-warning-light};
  --callout-caution: #{$callout-caution-light};
  --syntax-highlighting-background: #{$syntax-bg-light};
}

// 다크 모드
:root[dark] {
  --primary-color: #{$primary-color-dark};
  --white: #{$white};
  --light-gray: #{$light-gray-dark};
  --gray: #{$gray-dark};
  --dark: #{$dark-dark};
  --rgb-color: #{$rgb-color-dark};
  --background-rgba: rgba(var(--rgb-color), 0.85);
  --background-color: var(--dark);
  --background-alt-color: #{$background-alt-dark};
  --background-alt-color-2: #{$background-alt-2-dark};
  --text-color: var(--gray);
  --text-alt-color: var(--gray);
  --heading-font-color: #{$light-gray-dark};
  --link-color: #{$light-gray-dark};
  --link-color-hover: #{$light-gray-dark};
  --button-color: #{$white};
  --gradient-color: linear-gradient(90deg, #{$primary-color-dark} 0%, #8311c0 100%);
  --gradient-hover: linear-gradient(180deg, #{$primary-color-dark} 0%, #8311c0 160%);
  --border-color: #{$border-dark};
  --border-alt-color: #{$border-dark};
  --th-color: var(--background-alt-color);
  --tr-color: var(--background-alt-color-2);
  --callout-note: #{$callout-note-dark};
  --callout-tip: #{$callout-tip-dark};
  --callout-important: #{$callout-important-dark};
  --callout-warning: #{$callout-warning-dark};
  --callout-caution: #{$callout-caution-dark};
  --syntax-highlighting-background: #{$syntax-bg-dark};
}
