---
---

@use "tokens";
@use "variables";
@use "reset";
@use "base";
@use "grid";

header {
  position: sticky;
  top: 0;
  left: 0;
  background: var(--background-rgba);
  backdrop-filter: saturate(180%) blur(10px)  ;
  margin-bottom: 65px;
}

.header-container {
  padding: 0 32px 0 32px;
  border-bottom: 1px solid var(--border-color);
}
.header-inner {
  padding: 12px;
}

.main-link {
  font-weight: bold;
  font-size: 32px;
}

.main-nav {
  padding: 0 12px 0 56px;
}

.main-nav ul {
  height: 100%;
}
.main-nav ul li{
  padding: 0.5em 1em;
  margin-right: 1rem;
  font-size: 15px;
  font-weight: 500;
}
.main-nav ul li:hover {
  background: var(--background-alt-color);
  border-radius: 8px;
}

.main-nav ul li a {
  letter-spacing: normal;
}


.hero-container {
  display: flex;
  gap: 1rem;
  padding: 32px;
  background: var(--background-alt-color-2);
  border-radius: 10px;
}

.hero-container img.home_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.avatar {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}

.section-02 h2 {
  text-align: center;
}

#gallery {
  padding: 1rem;
}

#gallery img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}